.footer {
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
}

.footer__copyright {
  display: flex;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  justify-content: center;
  color: #212121;
  opacity: 70%;
  margin: 0 auto;
}
