.footer {
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
}

.footer__copyright {
  display: flex;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  justify-content: center;
  color: #212121;
  opacity: 70%;
  margin: 0 auto;
}
